body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
/* section 01 */
.sec-01{
    display: flex;
    text-align: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 10%;
}

.main-div{
    color: #3A3A3A;
    ;
    margin-left: 20px;
    width: 50%;
}
h1{
    font-size: 52px;
}
.main-pic img{
    margin-right: 50px ;
    width: 90%;
 }
 .link-01{
    text-decoration: none;
    background-image: linear-gradient(rgb(30 30 30), rgb(21 75 122));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 25px;
    margin: 20px 0;
    display: inline-block;
    transition: .3s all linear;
}
.link-01:hover{
    transform: scale(1.1);
}

/* Collection styles */
.grid-item{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
   
}
.sec-02{
    padding: 0 10%;
    margin-bottom: 5%;

}
.box-sd{
    font-family: 'Inter', sans-serif;
    padding: 15px;
    box-shadow: 0 0 30px 0 #0000001a;
}
.div-01{
    text-align: center;
    margin-top: 3px;
}
.h2-01{
    color: #3A3A3A;
    margin-top: 0%;
}

.div-02 img{
    width: 100%;
}

.div-04{
    color:#FB8200;
}
.grid-item > div > div > span {
    color: #787885;
}
.grid-item > div > p {
    color: #787885;
}
.div-05 a{
    text-align: right;
    text-decoration: none;
}
.bon-mola a{
    color: #787885;
    font-size: 20px;
    transition: .3s all linear;
}
.bon-mola a:hover{
    transform: scale(1.1);
}
/* Bonus Point  */
.bon-sec{
    margin-bottom: 5%;
}

.bonus-h1{
    text-align: center;
    font-size: 45px;
    margin-top: -5%;
    margin-bottom: -10;
}

.bonus-h3{
    text-align: center;
    font-size: 20px;
    margin-top: -10;
}
.bonus-p1{
    text-align: center;
    font-size: 15px;
    margin: 0% 10% 0% 10%;
}


.bon-mola{
    text-align: center;
}
.bon-mola a{
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(30 30 30), rgb(21 75 122));
    transition: .3s all linear;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}
.bon-mola a:hover{
    transform: scale(1.1);
}

/* -------------
    footer
-------------- */
footer {
    text-align: center;
    background-color: rgb(21 75 122);
    padding: 30px;
    color: #fff;
}
.fab{
    font-size: 25px;
    margin: 4px 4px 4px 4px;
}
